/* Glogal desktop */

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #ebebeb;
}

a {
    color: rgb(184, 175, 175);
    text-decoration: none;
}


.header-container {
    background-color: rgba(0, 0, 0, 0.753);
    min-height: 100px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px rgba(1, 2, 80, 0.644);
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highligth {
    font-weight: 700;
    color: goldenrod;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}

.col {
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(211, 172, 72);
    box-shadow: 0px 3px 5px 0px rgba(1, 2, 80, 0.644);
    border-radius: 15px 15px 15px 0px;
}

.col p {
    color: white;
    font-size: 0.87rem;
    padding: 20px;
    line-height: 1.2rem;
}

.col p::first-line {
    font-weight: 700;
    font-size: 1.2rem;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(138, 179, 28, 0.767);
    border-radius: 15px 15px 0px 0px;
}

.mybutton {
    padding: 10px 25px;
    border: goldenrod solid 1px;
    margin-left: 15px;
}

.mob-wrapper {
    display: none;
    padding-right: 40px;
}

.mob-nav {
    position: absolute;
    padding: 5px;
}

.navbutton {
    display: block;
    padding: 10px 30px;
    border: goldenrod solid 1px;
    color: rgb(212, 196, 196);
    background-color: rgb(0, 0, 0);
    margin-left: -70px ;
    text-align: center;

}



/* Tablet */
@media (max-width: 768px) {

    .col {
        width: 45%;
    }
    .hide-desktop-only {
        display: block;
    }

    .header-container {
        position: relative;
    }

    .container {
        padding-top: 40px;
    }

    nav a {
        display: block;
    }

    .logo {
        padding: 40px;
    }

    .mybutton {
        margin-left: 0px;
    }

    nav {
        display: none;
    }

    .mob-wrapper {
        display: block;
    }

    .mob-nav {
        display: none;
    }


}

/* Smartphone */
@media (max-width: 500px) {

    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

}